@media(max-width:1000px) {
    .testimonials-block {
        margin-right: 30px;
    }
}
@media(max-width:768px) {
    .header__btn{
        display: flex;
    }
    .header-nav{
        width: 100%;
        position: fixed;
        top: 0;
    }
    .header-nav__content{
        padding: 10px;
    }
    .header-nav__list {
        position: fixed;
        height: 100%;
        right: -100%;
        top: 80px;
        width: 240px;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        transition: 0.4s linear;
        background: #242B33;
    }
    .header-nav__list.active{
        display: flex;
        right: 0;
    }
    .header-nav__link{
        padding: 10px;
        margin-right: 0;
    }
    .testimonials-content {
        flex-wrap: wrap;
    }
    .testimonials-block {
        margin-right: 0;
        max-width: 250px;
        width: 100%;
        padding: 15px;
    }
    .testimonials-block__descr {
        max-width: 300px;
    }
    .header-content {
        padding-top: 88px;
    }
    .appartments__abs__descr {
        margin: 20px;
    }
}
@media(max-width:650px) {
    .appartments__abs__descr {
        margin: 10px;
        font-size: 18px;
    }
}
@media(max-width:530px) {
    .header-content-contacts__descr:first-child {
        margin-right: 50px;
    }
    .header-content__title{
        font-size: 38px;
    }
    .testimonials-block {
        max-width: 200px;
    }
    .appartments__title {
        margin-bottom: 50px;
    }
    .appartments__title {
        font-size: 30px;
    }
    .third{
        top: 90px;
        font-size: 300px;
    }
}
@media(max-width:480px) {
    .header-content-contacts__descr:first-child {
        margin-right: 0;
    }
    .header-content-contacts {
        align-items: center;
        flex-direction: column;
    }
    .header-content-contacts__descr{
        padding: 10px;
    }
    .fa-mouse-alt {
        margin: 50px 0 100px;
    }

}
@media(max-width:430px) {
    .testimonials-block__descr{
        font-size: 15px;
        line-height: 20px;
        margin-top: 25px;
    }
    .testimonials-block {
        max-width: 150px;
    }
    .testimonials-block__img {
        width: 60px;
        height: 60px;
    }
    .appartments__abs__descr {
        margin: 5px;
        font-size: 13px;
    }
}
@media(max-width:410px) {
    .header-content__title{
        max-width: 556px;
        width: 100%;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
    }
    .third{
        font-size: 250px;
    }
}
@media(max-width:330px) {
    .testimonials-block {
        max-width: 145px;
    }
}